.category {
    margin-bottom: 3rem;

    &__lists {
        display: flex;
        color:  hsl(0, 0%, 10%);
        font-family: 'PP Neue Montreal';
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;

        li {
            position: relative;
            margin-right: 1.6rem;
            padding-right: 3.5rem;
            &::before {
                position: absolute;
                content:'';
                width: 1.9rem;
                height: 1.3rem;
                background-image: url(../img/categoryarrow.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
            }
        }

        li:last-child {
            color:  #6D6D6D;
            margin-right: 0;
            padding-right: 0;
            &::before {
                display: none;
            }
        }
    }
}