.education-box {
    width: 76.5rem;
    height: 72.1vh;
    border-radius: 0px 6rem 0px 0px;
    background: #DEDAD6;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1.2vh;
    padding-bottom: 3.2vh;
    display: flex;
    flex-direction: column;
    &__image {
        width: 100%;
        height: 36.2vh;
        margin-bottom: 3.2rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0px 6rem 0px 0px;

        }
    }

    &__title {
        color: #191919;
        font-family: 'PP Neue Montreal',sans-serif;
        font-size: 3vh;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; 
        margin-bottom: 3.2vh;
        padding:  0 2rem;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        gap: 14rem;
        padding: 0 2rem;
    }

    &__lector {
        display: flex;
        flex-direction: column;

        strong {
            display: block;
            color:  #6D6D6D;
            font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2.2vh;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; 
            margin-bottom: 0.8vh;
        }

        span {
            display: block;
            font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2.2vh;
            font-style: normal;
            font-weight: 400;
            line-height: 110%; 
            color: #191919;
            
        }
    }

    &__date {
        display: flex;
        flex-direction: column;

        strong {
            display: block;
            color:  #6D6D6D;
            font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2.2vh;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; 
            margin-bottom: 0.8vh;
        }

        span {
            display: block;
            font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2.2vh;
            font-style: normal;
            font-weight: 400;
            line-height: 110%; 
            color: #191919;
            
        }
    }

    &__block {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: auto;
    }

    &__link {
        border-radius: 5rem;
        background: #FFF;
        padding: 0.8vh 3.5rem;
      
           
            font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2vh;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; 
            margin-bottom: 0.8vh;
            transition: 0.3s;
            &:hover {
                border-radius: 5rem 0px;
                transition: 0.3s;
            }
    }

    &__status {
        color:  #840D06;
        font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2.2vh;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; 

    }
}