.header {
    padding-top: 2.4rem;
    margin-bottom: 5.4rem;
    position: absolute;
    width: 100%;
    z-index: 5;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 6rem;
    }

    &__container {
        width: 157rem;
        margin: 0 auto;
    }

    &__inner-block {
        display: flex;
        align-items:center;
    }



 


    &__data-item {
        display: flex;
        align-items:center;
        padding-right: 2.6rem;
        position: relative;
        &:hover {
            &::before {
                transform: rotate(180deg);
                transition: all 0.2s;
            }
        }
        &::before {
            position: absolute;
            content:'';
            width: 1.4rem;
            height: 0.8rem;
            background-image: url(../img/logo/tringle.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 0;
            top: 33%;
            transition: all 0.2s;
        }


        a {
            font-family: 'Inter',sans-serif;
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: 115.385%; 
        }

        span {
            font-family: 'Inter',sans-serif;
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 125% ;
            margin-right: 1.2rem;
        }
    }

    &__data-block {
        position: absolute;
        padding: 3.2rem;
        min-width: 50.6rem;
        top: 4rem;
        display: none;
        z-index: 4;
        background: #fff;
        border-radius: 3rem;
        gap: 2rem;
        li {
            display: flex;
            margin-bottom: 2rem;
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                color:#840D06;
            }
            span {
                font-family: 'Inter',sans-serif;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: 125%; 
            }

            a {
               
                font-family: 'Inter',sans-serif;
                font-size: 2.6rem;
                font-style: normal;
                font-weight: 600;
                line-height: 115.385%; 
            }
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

   

    &__inner-date {
        font-family: 'Inter',sans-serif;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        padding-left: 4rem;
        position: relative;
        &::before {
            position: absolute;
            content:'';
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(../img/logo/clock.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__wrapper {
        display: flex;
    }

    &__wrapper-mob {
        display: none;
    }



    &__lists-left {
        display: flex;
        margin-right: 8.3rem;
        li {
            font-family: 'Inter';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            margin-right: 5rem;
            transition: 0.2s;
            &:hover {
                transition: 0.2s;
                color:#840D06;
            }

        }

        li:last-child {
            margin-right: 0;
        }
    }

    &__lists-right {
        display: flex;
        li {
            font-family: 'Inter';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
            margin-right: 4.6rem;

        }

        
    }

    &__search {
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
    }

    &__user {
        width: 3rem;
        height: 3rem;
        margin-right: 2.4rem;
    }

    &__basket {
        width: 3rem;
        height: 3rem;
    }

    &__logo {
        width: 13.7rem;
        height: 17rem;
        display: block;
        margin-right: 8.9rem;
        margin-top: -9rem;
    }

    
}
