.invitation {
    
    background-image: url(../img/invitation/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;
    .container {
        min-height: auto;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-size: 6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        width: 47.9rem;
        margin-bottom: 3rem;
    }

    &__text {
        font-size: 2.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; 
        margin-bottom: 5.1rem;
        max-width: 63.2rem;
    }

    &__phone {
        position: relative;
        padding-left: 3.6rem;
        margin-bottom: 2rem;
        span {
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
        }

        a {
            margin-left: 1.2rem;
            font-size: 2.6rem;
            font-style: normal;
            font-weight: 500;
        }
        &::before {
            position: absolute;
            content:'';
            background-image: url(../img/invitation/location.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 50%;
            width: 2.4rem;
            height: 2.4rem;
            transform: translate(-50%, -50%);

        }
    }

    &__phone:last-child {
        margin-bottom: 0;
    }

    &__form-inner {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-bottom: 3.2rem;
        label {
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            display: block;
            padding-left: 4rem;
            position: absolute;
            top: -0.6rem;
        }

        input {
            background:none;
            background-image: url(../img/invitation/input.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border: none;
            height: 7.1rem;
            width: 76.2rem;
            padding-left: 4rem;
            padding-top: 1.6rem;
            padding-bottom: 0.3rem;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
        }
    }


    .all-btn {
        margin-top: 4rem;
        margin-left: auto;
    }
  
}