.literature {
  

    .title {
        margin-bottom: 6vh;
    }

    .container {
        position: relative;
        padding-top: 5rem;
        
    }


    &__pagination {
        top: 50%;
        transform: translate(0%, -50%);
       }


       &__scroll {
        border-radius: 6rem;
        background: rgba(222, 218, 214, 0.50);

       
        width: 16.6rem;
        height: 8.6vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0.6rem;
        margin-top: 2vh;
        
    }

    &__scroll-bottom {
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 7.4vh;
        height: 7.4vh;
        background: none;
        &:hover {
           
            background: #fff;
            transition: 0.5s;
        
    }
    svg {
        width: 1.6rem;
        height: 3rem;
       
      
    }
    }

    &__scroll-top {
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 7.4vh;
        height: 7.4vh;
        transition: 0.5s;
        background: none;
        &:hover {
           
                background: #fff;
                transition: 0.5s;
            
        }
        svg {
            width: 1.6rem;
            height: 3rem;
           
          
        }
    }



}


.literature--two {
    height: initial;
    scroll-snap-align: initial;
    display: block;
    margin-bottom: 20rem;

    .container {
        min-height: auto;
        padding-top: 0;
    }
}