.projects {
    
                                                                                                                                                                                              
    background-image: url(../img/projects/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 150%;
  
    
    .container {
        position: relative;
        padding-top: 5rem;
    }

    &__wrapper {
        position: relative;
    }

  
    .title {
        flex-direction: column;
        display: flex;
        align-items: initial;
        margin-bottom: 6vh;
        h2 {
            margin-bottom: 6vh;
        }

        p {
            color:  #1A1A1A;
            max-width: 88.2rem;
            font-family: 'PP Neue Montreal',sans-serif;
            font-size: 2.6vh;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
        }
    }


    &__scroll {
        border-radius: 6rem;
        background: rgba(222, 218, 214, 0.50);

       
        width: 16.6rem;
        height: 8.6vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0.6rem;
        margin-top: 2vh;
        
    }

    &__scroll-bottom {
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 7.4vh;
        height: 7.4vh;
        background: none;
        &:hover {
           
            background: #fff;
            transition: 0.5s;
        
    }
    svg {
        width: 1.6rem;
        height: 3rem;
       
      
    }
    }

    &__scroll-top {
        border-radius: 50%;
        display: flex;
        align-items:center;
        justify-content: center;
        width: 7.4vh;
        height: 7.4vh;
        transition: 0.5s;
        background: none;
        &:hover {
           
                background: #fff;
                transition: 0.5s;
            
        }
        svg {
            width: 1.6rem;
            height: 3rem;
           
          
        }
    }
}