.projects-box {
    width: 76.5rem;
    height: 35.4vh;
    padding: 3.2rem;
    border-radius: 6rem 6rem 6rem 0px;
    background:  #DEDAD6;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }


    &__image {
        width: 25rem;
        height: 29vh;
        border-radius: 6rem 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6rem 0px;
        }

    }

    &__text {
        color:  #1A1A1A;
        font-family: 'PP Neue Montreal',sans-serif;
        font-size: 2.2vh;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; 
    }

    &__left {
        margin-right: 3.2rem;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin-top: auto;
        padding: 0.8vh 3.5rem;
        border-radius: 5rem;
        background: #FFF;
        display: flex;
        align-items:center;
        justify-content: center;
        width: fit-content;

        font-size: 2vh;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        transition: 0.3s;
        &:hover {
            border-radius: 5rem 0px;
            transition: 0.3s;
        } 
    }
}