<section class="focal">
    <div class="container">
        <div class="focal__wrapper">
            <a href="#" class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img1.png" alt="">
                </div>
                <div class="focal__box-title">Фитопрепараты</div>
            </a>
            <div class="focal__box">
                
                <div class="focal__box-title-big">традиционная китайская медицина</div>
            </div>
            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img2.png" alt="">
                </div>
                <div class="focal__box-title">Мед.центр</div>
            </a>

            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img3.png" alt="">
                </div>
                <div class="focal__box-title">Литература</div>
            </a>
            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img4.png" alt="">
                </div>
                <div class="focal__box-title">Обучение</div>
            </a>
            <a href="#"  class="focal__box">
                <div class="focal__box-image">
                    <img src="./img/focal/img5.png" alt="">
                </div>
                <div class="focal__box-title">Акупунктура</div>
            </a>
        </div>
        <button class="focal__scroll">
            <svg  viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M29 1L15 15L1 0.999999" stroke="#1A1A1A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
                
        </button>
    </div>
</section>