<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__inner-block">
                <div class="header__geo">Москва и МО</div>
                <div class="header__phone">
                    <a href="#" class="header__phone-link">8(499)938-99-50</a>
                    <ul class="header__phone-lists">
                        <li><a href="#">8(499)938-99-51</a></li>
                        <li><a href="#">8(499)938-99-52</a></li>
                        <li><a href="#">8(499)938-99-53</a></li>
                        <li><a href="#">8(499)938-99-54</a></li>
                        <li><a href="#">8(499)938-99-55</a></li>
                    </ul>
                </div>
            </div>
            <div class="header__inner-date">
                Пн-сб 9:00-21:00, вс 9:00-18:00
            </div>
        </div>
        <div class="header__wrapper">
            <ul class="header__lists-left">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Мед. центр</a></li>
                <li><a href="#">Обучение</a></li>
            </ul>
            <a href="#" class="header__logo">
                <img src="./img/logo/logo.svg" alt="">
            </a>
            <ul class="header__lists-right">
                <li><a href="#">О компании</a></li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
            <div class="header__wrapper-block">
                <button class="header__search">
                    <img src="./img/logo/search.svg" alt="">
                </button>
                <button class="header__user">
                    <img src="./img/logo/user.svg" alt="">
                </button>
                <button class="header__basket">
                    <img src="./img/logo/bag.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</header>