@import "./general/normalize";
@import "./general/fonts";
@import "./general/set";
@import "./general/elements";
@import "./blocks/header";
@import "./blocks/focal";
@import "./blocks/popular";
@import "./blocks/popular-box";
@import "./blocks/news";
@import "./blocks/news-box";
@import "./blocks/education";
@import "./blocks/education-box";
@import "./blocks/literature";
@import "./blocks/literature-box";
@import "./blocks/partners";
@import "./blocks/partners-box";
@import "./blocks/projects";
@import "./blocks/projects-box";
@import "./blocks/invitation";
@import "./blocks/catalog";
@import "./blocks/category";
@import "./blocks/news-p";
@import "./blocks/certificates";
@import "./blocks/certificates-box";
@import "./blocks/alphabet";
@import "./blocks/product";
@import "./blocks/basket";
@import "./blocks/basket-box";
@import "./blocks/basket-aside";
@import "./blocks/formalization";



@import "./blocks/footer";



@import "./blocks/media";