@font-face {
    font-family: 'Proun';
    src: url('Prounbc.eot');
    src: local('Proun'), local('Proun'),
        url('../fonts/Prounbc.eot') format('embedded-opentype'),
        url('../fonts/Prounbc.woff2') format('woff2'),
        url('../fonts/Prounbc.woff') format('woff'),
        url('../fonts/Prounbc.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

